.nav-bar {
  position: relative;
  z-index: 1;
  line-height: 22px;
  text-align: center;
  background-color: #fff;
  user-select: none;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &--border {
    border-bottom: 1px solid rgb(235, 237, 240);
  }

  &_placeholder {
    height: 46px;
  }

  &_content {
    position: relative;
    display: flex;
    align-items: center;
    height: 46px;
  }

  &--arrow {
    display: flex;
    margin-right: 4px;
    font-size: 16px;
  }

  &_title {
    max-width: 60%;
    margin: 0 auto;
    color: #323233;
    font-weight: 500;
    font-size: 16px;
  }

  &_left,
  &_right {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 14px;
    cursor: pointer;
    &:active {
      opacity: 0.6;
    }
  }

  &_left {
    left: 0;
  }

  &_right {
    right: 0;
  }

  &_text {
    color: #1989fa;
    fill: #1989fa;
  }
}
